body{
    font-family:'Arial Normal', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    color:#333333;
    text-align:center;
    line-height:normal;
    width: 1200px;
    height: 720px;

}
p{
    margin: 0;
    padding: 0;
}
/*****************************************布局*************************************/
#container{
    box-shadow:0 0 50px #888888;
    width: 856px;
    height: 488px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
/*sunshine*/
#container:before{
    content: "";
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0;
    left: -250px;
    overflow: hidden;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg)
}
#container:hover:before {
    left: 650px;
    transition: left 1.3s ease 0s;
}

/*sunshine*/
#left-container{
    float: left;
}
#right-container{
    float: right;
    width: 544px;
    height: 488px;
    background: #f5f5f5 url(../images/u6.jpg) no-repeat right top;

}
.mask{
    position: absolute;
    left: 312px;
    width: 544px;
    height: 488px;
    background: inherit;
    background-color: rgba(0, 153, 204, 0.498039215686275);
    border-radius: 0px;
}
#left-container>form>div>span>img{
    transform: translate(0,-5px);
    margin-bottom: 6px;
}
/*************************************logo 标题  表单*************************************/

#left-container img{
    width: 54px;
    margin-right: 5px;
}
#left-container>div{
    margin-top: 96px;
    margin-left: 50px;
    width: 200px;
}
#left-container p{
    font-family: 'Noto Sans S Chinese';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #999999;
    float: right;
}
#left-container span{
    font-family: 'Noto Sans S Chinese';
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #0288D1;
    float: right;
    position: relative;
    top: -33px;
}
#left-container>form{
    width: 200px;
    height: 170px;
    margin-top: 30px;
}
#left-container>form input{
    border: none;
    border-bottom: 1px solid #dddddd;
    width: 170px;
    height: 30px;
    margin-left:60px;
    margin-top: 20px;
    font-family: 'Noto Sans S Chinese';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-left: 30px;
    display: inline-block;
    outline:none;
}
#left-container>form>div{
    position: relative;
}
#left-container>form span{
    position: absolute;
    top: 28px;
    left: 60px;
    width: 10px;
    height: 18px;

}
#left-container>form span>img{
    width: 24px;
}
#left-container>form>input{
    background: #0099CC;
    border-radius: 50px;
    border-width: 0px;
    margin-left: 60px;
    margin-top: 54px;
    width: 200px;
    height: 32px;
    font-family: 'Noto Sans S Chinese';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding-left: 0;
}
#left-container>form>input:hover{
    background: #0288D1;
    cursor: pointer;
}
/*a*/
